{% extends 'base_admin.html'%}
{% block title %}
Update Vaccine Information
{% endblock %}

{%block content%}
<h1 class="text-center">Update Vaccine Information</h1>
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title mt-2">Update Vaccine</h4>
                </header>
                <article class="card-body">
                    <table class="table table-hover ">
                        <thead>
                            <tr><th scope="col">ID</th>
                                <th scope="col">Vaccine</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in s %}
                                <tr>
                                    <td>{{ item.vaccine_id }}</td>
                                    <td>{{ item.vaccine_name }}</td>
                                    <td>
                                        <a href="{{ url_for('updatevaccine') }}" class="btn btn-info" role="button">Update</a>
                                        <button class="btn btn-outline btn-danger" data-toggle="modal" data-target="#Modal-PurchaseConfirm-{{ item.id }}">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                            <a href="{{ url_for('addvaccine') }}" class="btn btn-info" role="button">Add Vaccine</a>
                        </tbody>
                    </table>
                </article>
            </div>
        </div>
    </div>
</div>
{%endblock%}

