<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
    <form method="POST" class="form-signin" >
        {{ form.hidden_tag() }}
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">User Login</h4>
                    </header>
                    <article class="card-body">
                        <h6 class="card-text">Email:</h6>
                        {{ form.emailadd(class="form-control", placeholder="Email Address") }}
                        &nbsp;
                        <h6 class="card-text">Password:</h6>
                        {{ form.password(class="form-control", placeholder="Password") }}
                        &nbsp;
                        <div class="d-grid gap-2">
                            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}
                        </div>
                    </article>
                    
                    <div class="border-top card-body text-center">Not yet a user? <a href="{{ url_for('register') }}">Register</a></div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}