<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">User Login</h4>
                    </header>
                    <article class="card-body">
                        <h6 class="card-text">Email:</h6>
                        <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="email">
                        &nbsp;
                        <h6 class="card-text">Password:</h6>
                        <input type="text" class="form-control" placeholder="Enter Password" aria-label="password">
                        &nbsp;
                        <div class="d-grid gap-2">
                            <button type="button" class="btn btn-success btn-lg btn-block">Login</button>
                        </div>
                    </article>
                    <div class="border-top card-body text-center">Not yet a user? <a href="{{ url_for('Register') }}">Register</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}