<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <header class="card-header">
                        <h4 class="card-title mt-2">User Registration</h4>
                    </header>
                    <article class="card-body">
                        <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <h6 class="card-text">First Name:</h6>
                                    <input type="text" class="form-control" placeholder="Enter First Name" aria-label="fname">
                                  </div>
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <h6 class="card-text">Middle Name:</h6>
                                      <input type="text" class="form-control" placeholder="Enter Middle Name" aria-label="mname">
                                  </div>
                                <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <h6 class="card-text">Last Name:</h6>
                                    <input type="text" class="form-control" placeholder="Enter Last Name" aria-label="lname">
                                  </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col form-group">
                                <h6 class="card-text">Address:</h6>
                                <div class="row">
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <select class="form-select" id="RegionsOptions">
                                        <option selected disabled>Select Region</option>
                                        <option>REGION 1</option>
                                        <option>REGION 2</option>
                                        <option>REGION 3</option>
                                        <option>REGION 4</option>
                                        <option>REGION 5</option>
                                    </select>
                                  </div>

                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                      <select class="form-select" id="ProvinceOptions">
                                        <option selected disabled>Select Province</option>
                                        <option>PROVINCE 1</option>
                                        <option>PROVINCE 2</option>
                                        <option>PROVINCE 3</option>
                                        <option>PROVINCE 4</option>
                                        <option>PROVINCE 5</option>
                                    </select>
                                  </div>

                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                      <select class="form-select" id="CityOptions">
                                        <option selected disabled>Select City</option>
                                        <option>CITY 1</option>
                                        <option>CITY 2</option>
                                        <option>CITY 3</option>
                                        <option>CITY 4</option>
                                        <option>CITY 5</option>
                                    </select>
                                  </div>

                                </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <h6 class="card-text">House Address:</h6>
                                <input type="text" class="form-control" placeholder="Enter House/Unit/Flr #, Bldg Name, Blk or Lot #" aria-label="houseaddress"/>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <h6 class="card-text">Date of Birth:</h6>
                                    <input ID="birthdate" type="date" CssClass="form-control"></input>
                                  </div>
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                      <h6 class="card-text">Contact Number:</h6>
                                      <input type="text" class="form-control" placeholder="Contact Number" aria-label="contactnumber">
                                  </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <h6 class="card-text">Email Address:</h6>
                                <input type="text" class="form-control" placeholder="Enter Email Address" aria-label="emailaddress"/>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            <div class="row">
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <h6 class="card-text">Password:</h6>
                                    <input type="password" class="form-control" placeholder="Enter Password" aria-label="password">
                                  </div>
                                  <div class="col-lg-4 col-sm-4 col-xs-4">
                                    <h6 class="card-text">Confirm Password:</h6>
                                    <input type="password" class="form-control" placeholder="Confirm Password" aria-label="confirmpassword">
                                  </div>
                        </div>
                        &nbsp;
                        <div class="d-grid gap-2">
                            <input type="submit" value="Register" class="btn btn-success btn-block">
                        </div>
                    </article>
                    <div class="border-top card-body text-center">Have an account? <a href="{{ url_for('Login') }}">Log In</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}