<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}View Appointment{% endblock %}
{% block content %}
       <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
             <ul class="list-group list-group-flush">
                 <li class="list-group-item"><h6>Name: </h6>
                     <input type="text" class="form-control" placeholder="Name" aria-label="name" readonly></li>
                <li class="list-group-item"><h6>Registration Number:</h6>
                    <input type="text" class="form-control" placeholder="Registration Number" aria-label="registrationnumber" readonly></li>
                <li class="list-group-item"><h6>Vaccine Name: </h6>
                    <input type="text" class="form-control" placeholder="Vaccine Name" aria-label="vaccinename" readonly></li>
                <li class="list-group-item"><h6>Vaccination Site: </h6>
                     <input type="text" class="form-control" placeholder="Vaccination Site" aria-label="cvaccinesite" readonly></li>
                 <li class="list-group-item"><h6>Vaccination Schedule: </h6>
                     <input type="text" class="form-control" placeholder="Vaccination Date" aria-label="vaccinesched" readonly></li>

            </ul>
        </div>
            </div>
        </div>
       </div>
{% endblock %}